<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Condo Media' %></title>
    <link rel="icon" type="image/png" href="<%= asset_url 'favicon.png' %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <%= yield :meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65944118-1', 'condo-media.com');
      ga('send', 'pageview');

    </script>

    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KBW87G" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'}); var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KBW87G');
      <% if current_user %>
        ga('set', '&uid', '<%= current_user.id %>');
      <% end %>
    </script>
  </head>

  <body class="devise">

    <%= render 'layouts/toastr_messages' %>

    <%= yield %>

    <%= render 'layouts/copyright_footer' %>
    <%= render 'shared/change_language_modal' %>

    <%= javascript_include_tag "application" %>

  </body>
</html>