<% @submenu_title = 'Search'; @action_for_search = search_amenities_path(query: params[:query], responsible: params[:responsible], order: params[:order], b: params[:b], c: params[:c]) %>

<div class="inner-section col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-2 amenities-index">

  <%= render 'shared/search_results_headers', current_model: Amenity.model_name.human(count: 2).capitalize %>

  <div class="under-tabs">
    <% if current_user.admin? || current_user.board_member? || current_user.collaborator? %>
      <%#= render 'shared/communities_filter', items: '#service-requests .service-request', width_company: true %>
      <%= render 'shared/communities_filter_new',
      items: '#service-requests .service-request',
      width_company: true,
      class_objects: 'service_requests',
      with_filter_options: true,
      to_controller: 'service_requests',
      data_by_community: @contacts_by_accountable %>
    <% end %>
  </div>

  <div class="cm-gallery-grid load-more-at-bottom" id="amenities" data-next-path="<%= @next_path %>">
    <%= render @amenities %>
  </div>

  <%= render 'shared/empty_items', icon: 'fa-location-arrow', objects: Amenity.model_name.human(count: 2) if @amenities.blank? %>

</div>
