<tr>
  <td></td>
  <td></td>
  <td><%= user_balance_item.reference_code %></td>
  <td><%= user_balance_item.concept %></td>
  <td><%= number_to_currency(user_balance_item.previous_balance) %></td>
  <td><%= number_to_currency(user_balance_item.current_payment) %></td>
  <td><%= number_to_currency(user_balance_item.total) %></td>
</tr>