<% @page_title = 'Log in | Condo Media' %>
<% content_for :meta_tags do %>
    <meta name="description" content="Log into Condo Media with Google, Facebook or Linkedin to start sharing and connecting with your community." >
<% end %>

<div class="container">
  <div class="row">
    <div class="devise col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1  ">

      <%= link_to root_path do %>
        <%= image_tag 'condomedia_white.png', width: 200, class: 'cm-home-logo' %>
      <% end %>

      <div class="omniauth-links">
        <%= link_to user_google_oauth2_omniauth_authorize_path do %>
          <%= image_tag 'google_logo.png' %> <span><%= t 'devise.continue_with', option: 'Google' %></span>
        <% end %>

        <%= link_to user_facebook_omniauth_authorize_path do %>
          <%= image_tag 'facebook_logo.png' %> <span><%= t 'devise.continue_with', option: 'Facebook' %></span>
        <% end %>

        <%= link_to user_linkedin_omniauth_authorize_path do %>
          <%= image_tag 'linkedin_logo.png' %> <span><%= t 'devise.continue_with', option: 'LinkedIn' %></span>
        <% end %>

        <%= link_to new_session_url(:user, subdomain: 'www') do %>
          <%= material_icon.email %> <span class="email-way"><%= t 'devise.continue_with', option: 'Email' %></span>
        <% end %>

      </div>

<!--       <p class="other-options">
        <%#= t 'devise.use_email_way' %>
        <%#= link_to t('devise.start').upcase, new_session_url(:user, subdomain: 'www') %>
        <%#= t 'general.or' %>
        <%#= link_to t('devise.sign_up_social').upcase, new_registration_url(:user, subdomain: 'www') %>
      </p> -->

    </div>
  </div>
</div>