<div class="dropdown"  id="category-filter">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="text">
        
      <% if params[:category] == 'saved' %>
        <i class="fa fa-bookmark-o with-background"></i>
        <%= t('general.saved_record_m', record_name: 'Events') %> 
      <% elsif params[:category] == 'hidden' %>
        <i class="fa fa-eye-slash with-background"></i>
        <%= t('general.hidden_record_m', record_name: 'Events') %> 
      <% elsif params[:category] == 'reported' %>
        <i class="fa fa-ban with-background"></i>
        <%= t('general.reported_record_m' , record_name: 'Events') %> 
      <% else %>
        <i class="fa fa-circle-o with-background"></i>
        <%= t('general.all_categories', record_name: 'Events') %> 
      <%end%>
    </span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% class_objects ||= 'Items' %>
    <% with_filter_options ||= false %>
    <li>
      <%= link_to "#{request.path}", class: "with-logo", data: { class: 'display-all' } do %>
        <i class="fa fa-circle-o with-background"></i> <%= t 'general.all_categories' %> 
      <% end %>
    </li>


    <% if current_user.resident? && local_assigns[:has_building_and_company] %>
      
      <% user_building = current_user.accountable %>
      <% user_company = user_building.company %>

      <li>
        <a class="with-logo" data-class="Company-<%= user_building.company.id %>">
          <%= render 'shared/logo_left', logoable: user_company, left: '' %>
          <%= user_company.name %> (<span class="items-count"></span>)
        </a>
      </li>
      
      <li>
        <a class="with-logo" data-class="Building-<%= user_building.id %>">
           <%= render 'shared/logo_left', logoable: user_building, left: '' %>
           <%= user_building.name %> (<span class="items-count"></span>)
        </a>
      </li>

    <% end %>

    <% if with_filter_options %>
      <% gender_es = {'events' => 'm', 'users' => 'm', 'items' => 'm'} %>

      <% if local_assigns[:has_saved] || local_assigns[:has_saved].nil?  %>
        <li>
          <%= link_to "#{request.path}?category=saved" do %>
            <i class="fa fa-bookmark-o with-background"></i> <%= t("general.saved_record_#{gender_es[class_objects]}", record_name: t("general.#{class_objects}").capitalize) %>
          <% end %>
        </li>
      <% end %>
      
      <% if local_assigns[:has_hidden] || local_assigns[:has_hidden].nil? %>
        <li>
          <%= link_to "#{request.path}?category=hidden" do %>
            <i class="fa fa-eye-slash with-background"></i> <%= t("general.hidden_record_#{gender_es[class_objects]}", record_name: t("general.#{class_objects}").capitalize) %>
          <% end %>
        </li>
      <% end %>

      <li>
        <%= link_to "#{request.path}?category=reported" do %>
          <i class="fa fa-ban with-background"></i> <%= t("general.reported_record_#{gender_es[class_objects]}", record_name: t("general.#{class_objects}").capitalize) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>