<% @email_to = @resource.email %>
<%= image_tag 'logo-condomedia-negro.png', width: '150' %>
<hr style="border-top: 1px solid #B3B4B6;"/>
<p style="margin-bottom: 5px;">
  <%= t 'devise.mailer.confirmation_instructions.header' %>
</p>
<br/>
<div style="border: 1px solid #e5e5e5; padding: 10px 25px 20px;">
  <%= t 'devise.mailer.confirmation_instructions.hello', name: @resource.full_name %>
  <br/><br/>
  <%= t 'devise.mailer.confirmation_instructions.content' %>
  <br/><br/>
  <br><br>
  <div>
    <% 
    if @resource.accountable.class.name == 'Company'
      if @resource.accountable.setting_for('append_message_to_outgoing_notifications') != 'yes' %>
      <%= @resource.accountable.setting_for('append_message_to_outgoing_notifications').html_safe  %>
    <% end 
    else
      if @resource.accountable.company.setting_for('append_message_to_outgoing_notifications') != 'yes'
        @resource.accountable.company.setting_for('append_message_to_outgoing_notifications')
      end
    end
    %>
  </div>
  <button style="background-color: #2978f6; padding: 10px 12px; font-size: 13px; border: none; border-radius: 3px; color: white">
    <%= link_to t('devise.mailer.confirmation_instructions.button_text'), confirmation_url(@resource, confirmation_token: @token),
      style: 'text-decoration: none; color: white;', target: '_blank'
    %>
  </button>
</div>
<div style="padding: 20px; background-color: #f6f6f6; border: 1px solid #e5e5e5; border-top: none;"></div>
<p>
  <%= t 'mailer.above_link' %>
  <%= link_to nil, confirmation_url(@resource, confirmation_token: @token), target: '_blank' %>
</p>

