<% with_filter ||= false %>
<div class="home-image with-logo">
  <%= render 'images/profile_cover', imageable: model_object %>
  <%= render 'images/profile_logo', imageable: model_object %>
  <% class_name = model_object.class.name.downcase %>
  <div class="name-and-options">
    <strong class="name"><%= model_object.name %></strong>
    <% if can? :manage, model_object %>
      <div class="dropdown pull-right options">
        <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
          <%= mi.more_vert.css_class('blue-light') %>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to @links[0][:name], @links[0][:path] %></li>
          <li><%= link_to @links[1][:name], @links[1][:path] %></li>
          <li><%= link_to @links[2][:name], @links[1][:path] %></li>

          <% if with_filter %>
            <%= render 'shared/toggle_filter_options', class_objects: class_objects, controller: controller, action: action %>
          <% end %>

          <li><%= link_to @links[4][:name], @links[4][:path] %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="cm-nav-links">
  <% @links.each do |l| %>
    <% active = 'active' if current_page? l[:path] %>
    <%= link_to l[:name], l[:path], class: "#{active} #{l[:class]}" %>
  <% end %>
</div>
