<!-- this partial view is actually not used, we keep it for testing -->

<div class="form-group col-sm-6">
  <%= f.email_field :email, class: 'form-control' %>
</div>

<%= f.fields_for :contact_details do |d| %>
  <div class="form-group col-sm-6">
    <%= d.number_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group col-sm-6">
    <%= d.text_field :emergency_contact_name, class: 'form-control' %>
  </div>
  <div class="form-group col-sm-6">
    <%= d.text_field :emergency_contact_phone, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :password %> <i>(<%= t('devise.password_leave_blank') %>)</i>
    <%= f.password_field :password, autocomplete: 'off', skip_autolabel: true, class: 'form-control' %>
  </div>
  <div class="form-group col-sm-6">
    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class="col-xs-12"><hr/></div>
  <div class="col-sm-12"><h4 class="blue"><%= t 'devise.community_details' %></h4></div>

  <div class="form-group col-sm-6">
    <%= label_tag Building.model_name.human.capitalize %>
    <%= text_field_tag :accountable_name, resource.accountable.name, disabled: true, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6">
    <%= d.number_field :apartment_number_string, class: 'form-control' %>
  </div>
  <div class="form-group col-sm-6">
    <%= d.text_field :move_in_date, class: 'form-control trigger-datetimepicker' %>
  </div>
  <div class="form-group col-sm-6">
    <%= f.select :locale,
      CM_LOCALES.map{ |locale| [t("general.locales.#{locale}"), locale] },
      {},
      {class: 'form-control'}
    %>
  </div>
  <div class="form-group col-sm-6">
    <%= d.select :user_type, ContactDetails::USER_TYPES.map { |ut| [t("contact_details.#{ut}"), ut] }, {}, class: 'form-control' %>
  </div>
<% end %>
