<div class="container">
  <div class="row">
    <div class="col-xs-12 top-content">
      <%= link_to root_path do %>
        <%= image_tag 'condomedia_white.png', width: 200, class: 'cm-home-logo' %>
      <% end %>
      <h4><%= t('devise.change_your_password') %></h4>
      <div class="devise reset-form col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <%= condomedia_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, auto_placeholder: true) do |f| %>

          <%= render 'shared/model_errors', resource: resource %>

          <%= f.hidden_field :reset_password_token %>
          <div class="row">
            <div class="input-group">
              <span class="input-group-addon lock-icon"><i class="fa fa-lock"></i></span>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="input-group space-top">
              <span class="input-group-addon lock-icon"><i class="fa fa-lock"></i></span>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>

            <%= f.submit t('general.continue').upcase, class: 'btn btn-primary btn-sm' %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>